
.navbar-container{
    height: 80px;
    width: auto;
    align-items: center;
    margin-top: auto;
    display: flex;
    margin-bottom: auto;
    background-color: rgb(11, 16, 19);
    
}

.nav-wrapper{
    display: flex;
    
        

}

.nav-button{
    margin-left: 1000px;
    position: relative;
    cursor: pointer;

}

.myname{
    
    margin-left: 150px;
    font-size: 24px;
    letter-spacing: 1.5px;
    font-weight: bolder;
    align-items: center;
  
   
    
}

.logocontainer{
    position: relative;
    margin-left: 55%;
    
    img{
        height: 30px;
        width: 30px;
        margin-left: 10px;
        margin-right: 10px;
    
        
    }
    
}

