
.navbar-container{
    height: 60px;
    width: auto;
    align-items: center;
    margin-top: auto;
    display: flex;
    margin-bottom: auto;
    background-color:  rgb(5, 35, 57);

    
}

.nav-wrapper{
    display: flex;
    
    
}

.nav-button{
    margin-left: 1000px;
    position: relative;
    cursor: pointer;

}

.myname{

    margin-left: 150px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


