.home{
    height: calc(100vh - 60px);

}


.imgContainer{
    top: 0;
    right: 0;
    position:absolute;
    gap: 30px;
    img{
        height: 51rem;
        opacity: 98%;
    }
}
.textContainer{
    align-items: center;
    margin-top: auto;
    display: flex;
    margin-bottom: auto;

}
    

.whiteText{
    color: white;
    margin-top: 15px;
}

.buttons button{
    padding: 10px;
    border-radius:10px ;
    border-color: antiquewhite;
    color: aliceblue;
    background: transparent;
    font-weight: 700;
    margin-top: 10px;
    border: 3px solid;
    margin-right: 10px;
    cursor: pointer;

    
    
    
}


.leftWrapper{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    position: inherit;
    margin-left: 100px;
    
}


.slidingText{
    position: absolute;
    font-size: 7vh;
    font-weight: bolder;
    bottom:70px;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.103);
   
}


.scrlPng{
    
    img{
        height: 30px;
        margin-top: 20px;
        cursor: pointer;
        margin-left: -6px;
        mix-blend-mode:color;
    }




}

.buttons{
    button:hover{
        color: rgb(255, 191, 31);
    }
      
    
}
